<app-nav></app-nav>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6"*ngFor="let i of data">
            <div class="row g-3 mt-5">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 ">
                    
                
                                        
                    <div class="card" >
                       
                        <div class="card-body">
                          <h5 class="card-title">username : {{i.username}}</h5>
                          <p class="card-text"> id : {{i.id}}</p>
                          <p class="card-text">adress : {{i.address}}</p>
                          <p class="card-text">number : {{i.number}}</p>
                          <p class="card-text">date : {{i.date}}</p>
                          <p class="card-text">doctor : {{i.doctor}}</p>
                        </div>
                    </div>

            </div>
        </div>
    </div>
</div>

